main {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
}

.input-character-name-field {
  max-width: 250px;
}

.save-btn {
  max-width: 120px;
  margin: 15px;
}

.container-character-page {
  display: flex;
  justify-content: space-between;
}

.character-image {
  max-width: 300px;
  max-height: 400px;
  margin: 20px;
}
